.header {
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  margin-top: 5%;
  font-size: 1.8rem;
}

.subHeader
{
  margin-top: 2%

}

.calPart
{
  margin-top: 5%
}

.resultPart
{

}

.bimanImg{
  margin-top: 5%;
}